import pyforest a

In [69]:
import pyforest as pf

In [70]:
df=pd.read_csv('train.csv')

In [71]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [73]:
df.corr()

C:\Users\singh\AppData\Local\Temp\ipykernel_3208\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
Age,1.000000,0.068723,0.130421,0.033133,0.123970,0.101007,-0.075026
RoomService,0.068723,1.000000,-0.015889,0.054480,0.010080,-0.019581,-0.244611
FoodCourt,0.130421,-0.015889,1.000000,-0.014228,0.221891,0.227995,0.046566
ShoppingMall,0.033133,0.054480,-0.014228,1.000000,0.013879,-0.007322,0.010141
Spa,0.123970,0.010080,0.221891,0.013879,1.000000,0.153821,-0.221131
VRDeck,0.101007,-0.019581,0.227995,-0.007322,0.153821,1.000000,-0.207075
Transported,-0.075026,-0.244611,0.046566,0.010141,-0.221131,-0.207075,1.000000

In [74]:
test=pd.read_csv('test.csv')

In [75]:
p_id=test['PassengerId']

In [76]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [77]:
cat=[f  for f in df.columns if df[f].isnull().sum() > 0 and df[f].dtype=='O']
cat

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP', 'Name']

In [78]:
for col in cat:
    mode_value = df[col].mode()[0] # get mode value of column
    df[col].fillna(mode_value, inplace=True)

In [79]:
df.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age             179
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name              0
Transported       0
dtype: int64

In [80]:
num=[f  for f in df.columns if df[f].isnull().sum() > 0 and df[f].dtype!='O']

In [81]:
num

['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [82]:
for i in num:
    df[i].fillna(df[i].mean(),inplace=True)

In [83]:
df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [84]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [85]:
df.drop(['Name'],inplace=True,axis=1)

In [86]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [87]:
df['Destination'].value_counts()

TRAPPIST-1e      6097
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [88]:
df['HomePlanet'].value_counts()

Earth     4803
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [89]:
df.drop(['ShoppingMall'],inplace=True,axis=1)

In [90]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,1643.0,74.0,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1.0,0.0,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,353.0,3235.0,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,12.0,True

In [91]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [92]:
 cat.remove('Name')
cat

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

In [93]:
for i in cat:
    df[i] = le.fit_transform(df[i])

In [94]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,Spa,VRDeck,Transported
0,0001_01,1,0,149,2,39.0,0,0.0,0.0,0.0,0.0,False
1,0002_01,0,0,2184,2,24.0,0,109.0,9.0,549.0,44.0,True
2,0003_01,1,0,1,2,58.0,1,43.0,3576.0,6715.0,49.0,False
3,0003_02,1,0,1,2,33.0,0,0.0,1283.0,3329.0,193.0,False
4,0004_01,0,0,2186,2,16.0,0,303.0,70.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,146,0,41.0,1,0.0,6819.0,1643.0,74.0,False
8689,9278_01,0,1,5280,1,18.0,0,0.0,0.0,0.0,0.0,False
8690,9279_01,0,0,5285,2,26.0,0,0.0,0.0,1.0,0.0,True
8691,9280_01,1,0,2131,0,32.0,0,0.0,1049.0,353.0,3235.0,False
8692,9280_02,1,0,2131,2,44.0,0,126.0,4688.0,0.0,12.0,True

In [95]:
df.corr()

C:\Users\singh\AppData\Local\Temp\ipykernel_3208\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,Spa,VRDeck,Transported
HomePlanet,1.000000,0.083586,-0.473877,0.034737,0.133888,0.123512,0.211527,0.071642,0.055014,0.039575,0.115461
CryoSleep,0.083586,1.000000,0.114685,-0.096287,-0.070736,-0.078281,-0.243986,-0.205682,-0.198392,-0.193107,0.460132
Cabin,-0.473877,0.114685,1.000000,0.118619,-0.238914,-0.148633,-0.074374,-0.261846,-0.183211,-0.211737,-0.052972
Destination,0.034737,-0.096287,0.118619,1.000000,-0.006619,-0.044707,0.046390,-0.111049,-0.055916,-0.073233,-0.108152
Age,0.133888,-0.070736,-0.238914,-0.006619,1.000000,0.091574,0.067612,0.127937,0.120992,0.099210,-0.074249
VIP,0.123512,-0.078281,-0.148633,-0.044707,0.091574,1.000000,0.056595,0.126006,0.060573,0.123092,-0.037261
RoomService,0.211527,-0.243986,-0.074374,0.046390,0.067612,0.056595,1.000000,-0.015521,0.009925,-0.019207,-0.242048
FoodCourt,0.071642,-0.205682,-0.261846,-0.111049,0.127937,0.126006,-0.015521,1.000000,0.220587,0.224275,0.046074
Spa,0.055014,-0.198392,-0.183211,-0.055916,0.120992,0.060573,0.009925,0.220587,1.000000,0.147957,-0.218791
VRDeck,0.039575,-0.193107,-0.211737,-0.073233,0.099210,0.123092,-0.019207,0.224275,0.147957,1.000000,-0.204825
Transported,0.115461,0.460132,-0.052972,-0.108152,-0.074249,-0.037261,-0.242048,0.046074,-0.218791,-0.204825,1.000000

In [96]:
x=df.copy()

In [97]:
x.drop(['Transported'],axis=1,inplace=True)

In [98]:
y=df['Transported']

In [99]:
from sklearn.model_selection import train_test_split

In [100]:
X_train, X_test,y_train, y_test = train_test_split(x,y,
                                   random_state=104, 
                                   test_size=0.3, 
                                   shuffle=True)

In [101]:
X_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,Spa,VRDeck
33,0031_01,2,0,4406,2,47.00000,0,214.0,0.0,0.0,1229.0
5861,6207_01,2,0,2600,2,31.00000,0,915.0,0.0,370.0,0.0
5795,6137_04,0,1,6548,2,3.00000,0,0.0,0.0,0.0,0.0
6946,7371_01,0,1,4829,0,42.00000,0,0.0,0.0,0.0,0.0
7806,8333_01,1,0,920,0,33.00000,0,988.0,0.0,2274.0,3098.0
...,...,...,...,...,...,...,...,...,...,...,...
5247,5601_03,0,0,6156,0,4.00000,0,0.0,0.0,0.0,0.0
6310,6672_03,2,0,1877,1,30.00000,0,77.0,71.0,0.0,0.0
729,0770_02,0,0,4811,2,28.82793,0,0.0,715.0,170.0,0.0
5825,6168_01,0,1,6554,1,16.00000,0,0.0,0.0,0.0,0.0
8261,8823_01,2,1,3208,2,19.00000,0,0.0,0.0,0.0,0.0

In [102]:
X_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,Spa,VRDeck
8249,8815_01,0,0,3344,0,20.0,0,0.0,0.0,335.0,957.0
4105,4383_01,1,0,261,2,57.0,0,0.0,0.0,0.0,0.0
399,0437_02,0,0,4237,1,40.0,0,7.0,0.0,26.0,0.0
7966,8509_01,0,0,5088,2,43.0,0,21.0,0.0,0.0,0.0
8559,9139_01,2,0,3284,2,25.0,0,410.0,32.0,1239.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...
7921,8458_05,1,0,924,2,28.0,0,1004.0,2423.0,0.0,17.0
1823,1950_01,0,0,3664,2,51.0,0,0.0,0.0,101.0,1357.0
5239,5592_01,2,1,2426,0,53.0,0,0.0,0.0,0.0,0.0
943,1005_01,0,0,5300,2,20.0,0,0.0,0.0,9.0,773.0
4010,4271_01,1,1,54,2,25.0,0,0.0,0.0,0.0,0.0

In [103]:
from sklearn.tree import DecisionTreeClassifier

In [104]:
 clf_gini = DecisionTreeClassifier(criterion = "gini",
            random_state = 100,max_depth=3, min_samples_leaf=5)

In [105]:
clf_gini.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3, min_samples_leaf=5, random_state=100)

In [106]:
y_pred=clf_gini.predict(X_test)

In [107]:
y_pred

array([False, False, False, ...,  True, False,  True])

In [108]:
from sklearn.metrics import classification_report

In [109]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.67      0.85      0.75      1307
        True       0.80      0.58      0.67      1301

    accuracy                           0.72      2608
   macro avg       0.73      0.72      0.71      2608
weighted avg       0.73      0.72      0.71      2608

In [110]:
from sklearn.ensemble import RandomForestClassifier

In [111]:
clf = RandomForestClassifier(n_estimators = 110)

In [112]:
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=110)

In [113]:
y_pred = clf.predict(X_test)

In [114]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.78      0.80      0.79      1307
        True       0.80      0.77      0.78      1301

    accuracy                           0.79      2608
   macro avg       0.79      0.79      0.79      2608
weighted avg       0.79      0.79      0.79      2608

In [115]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [116]:
y_pred = gnb.predict(X_test)

In [117]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 65.91257668711657

In [133]:
rfc = RandomForestClassifier()

# Set the hyperparameters
rfc.set_params(n_estimators=100, # number of trees in the forest
               max_depth=25, # maximum depth of each decision tree
               min_samples_split=4, # minimum number of samples required to split an internal node
               min_samples_leaf=4, # minimum number of samples required to be at a leaf node
               max_features='auto', # maximum number of features to consider when splitting a node
               random_state=100) # random seed for reproducibility

# Train the classifier on some data
rfc.fit(X_train, y_train)

# Make predictions on new data
y_pred = rfc.predict(X_test)

C:\Users\singh\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

In [134]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.81      0.78      0.79      1307
        True       0.79      0.81      0.80      1301

    accuracy                           0.80      2608
   macro avg       0.80      0.80      0.80      2608
weighted avg       0.80      0.80      0.80      2608

In [137]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [138]:
test.drop(['Name'],inplace=True,axis=1)

In [139]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [140]:
cat=[f  for f in test.columns if test[f].isnull().sum() > 0 and test[f].dtype=='O']
cat

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

In [142]:
for col in cat:
    mode_value = test[col].mode()[0] # get mode value of column
    test[col].fillna(mode_value, inplace=True)

In [148]:
test.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [145]:
num=[f  for f in test.columns if test[f].isnull().sum() > 0 and test[f].dtype!='O']

In [147]:
for i in num:
    test[i].fillna(test[i].mean(),inplace=True)

In [149]:
for i in cat:
    test[i] = le.fit_transform(test[i])

In [150]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,0,1,2784,2,27.000000,0,0.0,0.0,0.0,0.0,0.0
1,0018_01,0,0,1867,2,19.000000,0,0.0,9.0,0.0,2823.0,0.0
2,0019_01,1,1,257,0,31.000000,0,0.0,0.0,0.0,0.0,0.0
3,0021_01,1,0,259,2,38.000000,0,0.0,6652.0,0.0,181.0,585.0
4,0023_01,0,0,1940,2,20.000000,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,0,1,2679,2,34.000000,0,0.0,0.0,0.0,0.0,0.0
4273,9269_01,0,0,2691,2,42.000000,0,0.0,847.0,17.0,10.0,144.0
4274,9271_01,2,1,602,0,28.658146,0,0.0,0.0,0.0,0.0,0.0
4275,9273_01,1,0,603,2,28.658146,0,0.0,2680.0,0.0,0.0,523.0
4276,9277_01,0,1,2680,1,43.000000,0,0.0,0.0,0.0,0.0,0.0

In [177]:
test.drop(['ShoppingMall'],inplace=True,axis=1)

In [178]:
y_pred = rfc.predict(test)

In [179]:
y_pred

array([ True, False,  True, ...,  True,  True,  True])

In [167]:
# dF=pd.DataFrame({'PassengerId':p_id.values,"Survived":y_pred})

{'PassengerId': 0       0013_01
 1       0018_01
 2       0019_01
 3       0021_01
 4       0023_01
          ...
 4272    9266_02
 4273    9269_01
 4274    9271_01
 4275    9273_01
 4276    9277_01
 Name: PassengerId, Length: 4277, dtype: object,
 'Transported': array([False,  True,  True, ...,  True, False,  True])}

In [190]:
df=pd.DataFrame({'PassengerId':p_id.values,"Transported":y_pred})

In [192]:
df.to_csv('SubmissionFi.csv',index=False)

In [189]:
df

     PassengerId  Survived
0        0013_01      True
1        0018_01     False
2        0019_01      True
3        0021_01      True
4        0023_01      True
...          ...       ...
4272     9266_02      True
4273     9269_01      True
4274     9271_01      True
4275     9273_01      True
4276     9277_01      True

[4277 rows x 2 columns]